{ 
   "sflow_enable": 1,
   "sflow_params": [ 
		  "sflow collector 1 ip {{ sflow_ip }} port {{ sflow_port}} description {{ sflow_desc }}",
                  "sflow agent ip {{ hostname_ip }}"
		]
}

