{ 
   "ssh_enable": 1,
   "ssh_params": [ 
		  "stelnet server enable",
                  "ssh user {{ ssh_user }}",
                  "ssh user {{ ssh_user }} authentication-type password",
                  "ssh user {{ ssh_user }} service-type all"
		]
}

